* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: '微軟雅黑', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 2;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

.banner {
    position: relative;
    width: 100%;
    height: 30vh;
    background: url(https://zxbxjx.github.io/src/jacky/20875.jpeg);
    background-size: cover;
}

body {
    background: linear-gradient(45deg, #fbda61, #ff5acd)
}

.round_icon {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main_container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto-40px;
    /*margin-bottom的负值等于footer高度*/
}

.push,
.footer {
    height: 40px;
    clear: both;
}

.footer {
    text-align: center;
    font-size: 14px;
    border: 1pxsolid #ccc;
}

img {
    pointer-events: none;
}

.imgPreview {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    /*容器佔滿整個螢幕*/
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.imgPreview img {
    z-index: 100;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 :root {
    --clr: #222327;
}

#myInput {
    background-image: url('https://static.runoob.com/images/mix/searchicon.png');
    /* 搜索按钮*/
    background-position: 10px 12px;
    /* 定位搜索按钮*/
    background-repeat: no-repeat;
    /* 不重复图片*/
    width: 100%;
    font-size: 16px;
    /* 加大字体*/
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    /* 移除默认的列表样式*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    /* 链接添加边框*/
    margin-top: -1px;
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a.header {
    background-color: #e2e2e2;
    cursor: default;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.bar {
    width: 80%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid mediumturquoise;
    font-size: 30px;
    padding-left: 30px;
}

.bar:hover {
    box-shadow: 5px 5px 5px 5px rgb(192, 192, 192);
    transition: 1s;
}

.z {
    width: 20px;
    height: 20px;
}