body {
    background: linear-gradient(45deg, #fbda61, #ff5acd)
}

.round_icon {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main_container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto-40px;
    /*margin-bottom的负值等于footer高度*/
}

.push,
.footer {
    height: 40px;
    clear: both;
}

.footer {
    text-align: center;
    font-size: 14px;
    border: 1pxsolid #ccc;
}

img {
    pointer-events: none;
}

.imgPreview {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    /*容器佔滿整個螢幕*/
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.imgPreview img {
    z-index: 100;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
}

.navigation {
    position: relative;
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr)
}

.navigation ul li:hover a .icon {
    transform: translateY(-35px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: red;
}

.navigation ul li a .text {
    position: relative;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}

.z {
    width: 40px;
    height: 40px;
}

.zz {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: aqua;
}

#myInput {
    background-image: url('https://static.runoob.com/images/mix/searchicon.png');
    /* 搜索按钮*/
    background-position: 10px 12px;
    /* 定位搜索按钮*/
    background-repeat: no-repeat;
    /* 不重复图片*/
    width: 100%;
    font-size: 16px;
    /* 加大字体*/
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    /* 移除默认的列表样式*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    /* 链接添加边框*/
    margin-top: -1px;
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a.header {
    background-color: #e2e2e2;
    cursor: default;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.bar {
    width: 80%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid mediumturquoise;
    font-size: 30px;
    padding-left: 30px;
}

.bar:hover {
    box-shadow: 5px 5px 5px 5px rgb(192, 192, 192);
    transition: 1s;
}